* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

img{
  max-width: 100%;
}

.site-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.d-block {
  width: 100%;
  height: 500px;
  
}

.randomImg {
  border-radius: 30px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .randomImgText {
    font-size: 2.5em;
    color: white;
  }
}

  .search {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-bar{
      width: 40%;
      margin-top: 25px;
      text-align: center;
    }
  }
  
  .card-img {
    height: 220px;
    
  }

//single city
.city-hero {
  
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
  .card-header{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    width: fit-content;
    backdrop-filter:blur(1px);
  }
  .card-img{
    height: 100%;
  }
  
  .city-control {
    display: flex;
    justify-content: center;
  }
}

//
.form-page{
  flex-grow: 1;
  background-color: grey;
  form {
    border-radius: 8px;
    background: white;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    h1{
      font-size: 1.6rem;
    }
    label {
      font-weight: bold;
      font-size: 0.9rem;
    }
    .input{
      display: block;
      width: 100%;
      border: 1px solid rgba(0,0,0,0.2);
      margin-bottom: 10px;
    }
    p{
      font-size: 0.8rem;
      margin: -5px 0 10px;
    }
  }
}

input[type="radio"]{
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms;
}

<<<<<<< HEAD
//
.formfield {
  margin: 30px 30px 0;
  label{
    display: block;
    margin-bottom: 5px;
  }
}

=======
>>>>>>> razvan
// restaurant
.get-one-row {
  border: 1px solid grey;
  border-radius: 30px;
  h1 {
    text-align: center;
    margin: 10px 0;
  }
  img {
    width: 100%;
  }
  .info-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid grey;
    // height:100px;
    p{
      margin-top: 5px;
    }
<<<<<<< HEAD
  }
}
=======

  }}}
>>>>>>> razvan
