* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

img{
  max-width: 100%;
}

.site-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.d-block {
  width: 100%;
  height: 500px;
  
}

.randomImg {
  border-radius: 30px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .randomImgText {
    font-size: 2.5em;
    color: white;
  }
  }


.city-hero {
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
  
  .city-control {
    display: flex;
    justify-content: center;
  }
}

//
.form-page{
  flex-grow: 1;
  background-color: grey;
  form {
    border-radius: 8px;
    background: white;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    h1{
      font-size: 1.6rem;
    }
    label {
      font-weight: bold;
      font-size: 0.9rem;
    }
    .input{
      display: block;
      width: 100%;
      border: 1px solid rgba(0,0,0,0.2);
      margin-bottom: 10px;
    }
    p{
      font-size: 0.8rem;
      margin: -5px 0 10px;
    }
  }
}


// restaurant
.get-one-row {
  border: 1px solid grey;
}